body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: "Inter", system-ui;
}
// overlay {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.5);
//   z-index: 1;
//   visibility: hidden;
//   opacity: 0;
//   transition: opacity 0.1s ease-out, visibility 0.1s ease-out;
//   overflow: hidden;
// }

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}
// HEADER
header {
  border-bottom: 2px solid #eaeaea;
  img {
    margin-right: 15px;
  }
}

// CONTENT
.content {
  h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
  }
}
// кнопка в корзині
.cartEmpty {
  text-align: center;

  p {
    width: 280px;
    line-height: 24px;
  }

  .greenBtn {
    width: 245px;
    margin-top: 20px;
    padding: 18px;
    color: #ffffff;
    background-color: #9dd458;
    border: transparent;
    border-radius: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    &:hover {
      background: lighten($color: #9dd458, $amount: 10%);
    }
    &:active {
      background: darken($color: #9dd458, $amount: 10%);
    }

    &:hover {
      img {
        transform: rotate(180deg) translateX(15px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}



.search-block{
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

.clear{
  position: absolute;
  right: 10px;
  top: 6px;
  width: 26px;
  height: 26px;
}
}
// button
.button {
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

// input search
input {
  width: 200px;
  font-size: 16px;
  padding: 10px;
  border: none;
}
.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 13px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}
// drawer Корзина
.drawer { 
  
  display: flex;
  flex-direction: column;
  padding: 30px;
  position: absolute;
  width: 420px;
  height: 100vh;
  right: 0;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  h2 {
    margin: 0;
  }
  .items{
    overflow: auto;
    margin-bottom: 45px;
  }
}

// КОРЗИНА
.cardTotalBlock {
  ul {
    display: block;
    margin-bottom: 30px !important;
    li {
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }
    div {
      position: relative;
      top: -4px;
      margin: 0 7px;
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
    }
  }
  // КНОПКА ЗАМОВЛЕННЯ
  .greenBtn {
    width: 100%;
    padding: 18px;
    color: #ffffff;
    background-color: #9dd458;
    border: transparent;
    border-radius: 18px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
    &:hover {
      background: lighten($color: #9dd458, $amount: 10%);
    }
    &:active {
      background: darken($color: #9dd458, $amount: 10%);
    }
  }
  .greenBtn {
    position: relative;
    &:hover{
      img{
        transform: translateX(15px);
      }
    }
    img {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: transform 0.15s ease-in-out;
    }
  }
}
// CARDITEM в КОРЗИНЕ
.cardItem {
  padding: 20px;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  p {
    font-size: 16px;
  }
  b {
    font-size: 14px;
  }
  .removeBtn {
    opacity: 1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .removeBtn:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.items {
  flex: 1;
}
